:root {
  --wrong-letter-bg-color: grey;
  --right-letter-bg-color: #cc8800;
  --right-pos-letter-bg-color: green;
  --used-letter-color: white;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 5vw 10vwpx 5vw 10vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .App {
  max-height: 100%;
  max-width: auto;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.keyboard {
  margin: 1.5vw auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5vw;
  padding: 0.75vw 15vw;
}

.keyboard-key {
  height: 1vw;
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-weight: 650;
  text-align: center;
  padding: 1.25vw;
}

.game-word {
  width: 25.0vw;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5vw;
  padding: 0.25vw;
  margin: auto;
}

.game-letter {
  width: 1.5vw;
  height: 1.5vw;
  background-color: white;
  border: 1px solid lightgrey;
  font-size: 1.5vw;
  font-weight: 650;
  text-align: center;
  padding: 1.6vw;
}

.message {
  height: 1.8em;
  margin-bottom: 5.0vw;
  text-align: center;
  font-size: 1.25vw;
}

.shake-word {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}